<GridLayout class="president-container" columns="*" rows="* * *" ios:width="100%" android:width="40%">

    <!-- Portrait -->
    <StackLayout row="0" colspan="2" width="100%">
        <Image src="~/{{president.image}}"></Image>
    </StackLayout>

    <!-- Name -->
    <StackLayout row="1" col="1" horizontalAlignment="center">
        <Label [text]="president.name"></Label>
    </StackLayout>

    <StackLayout row="2" colspan="2" class="button-container" marginTop="3" marginBottom="8">
        <Button (tap)="openModal()" text="More Details" class="primary-button"></Button>
    </StackLayout>
</GridLayout>