<GridLayout columns="*" rows="* auto auto">

    <!-- Portrait -->
    <StackLayout row="0" width="100%">
        <Image src="~/{{president.image}}"></Image>
    </StackLayout>

    <!-- Name -->
    <StackLayout row="1" col="1" horizontalAlignment="center">
        <Label class="president-name" [text]="president.name"></Label>
    </StackLayout>

    <StackLayout row="2" colspan="2" class="button-container" marginTop="3" marginBottom="8">
        <Button
            class="primary-button"
            (tap)="openModal()"
            text="More Details"
            [ngStyle]="{'backgroundColor': this.president.isSeen === true ? 'rgb(211, 23, 14)' : 'rgb(21, 23, 143)' }"
        >
        </Button>
    </StackLayout>
</GridLayout>