<ActionBar>
  <Label text="Presidents" android:fontSize="20" android:fontWeight="400" android:color="black"></Label>
</ActionBar>


  <ScrollView (loaded)="doLoadedRemoveBandingAnimation($event)">
    <FlexboxLayout flexDirection="row" flexWrap="wrap" justifyContent="flex-start">
      <ng-container *ngFor="let president of presidents">
        <StackLayout width="50%" padding="4">
          <president [president]="president"></president>
        </StackLayout>
      </ng-container>
    </FlexboxLayout>
  </ScrollView>



