.primary-button {
    background-color: rgb(21, 23, 143);
    border-radius: 6;
    color: white;
    padding: 8 16;
    horizontal-align: center;
}

.button-container {
    horizontal-align: center;
    vertical-align: middle;
}