.primary-button {
    background-color: rgb(21, 23, 143);
    border-radius: 6;
    color: white;
    padding: 8 16;
    horizontal-align: center;
}

.button-container {
    horizontal-align: center;
    vertical-align: middle;
}

Button {
  height: 40;
  min-height: 40;
  padding: 8 16;
  font-size: 16;
  border-radius: 8;
  color: white;
  text-transform: none;
}