.modal-root {
    background-color: rgba(0, 0, 0, 0.625);
}

.modal-container {
    background-color: rgb(255, 255, 255);
    padding: 8;
    border-radius: 8;
    z-index: 2;
    text-align: center;
    height: 160;
    vertical-align: center;
    horizontal-align: center;
}